<html>
    <body>
        <h1>Flask Math APIs</h1>
        <p>This site is a prototype API for math functions.</p>
        <p>You accessed this page on {{date_time}}</p>
        <p>Working routes are:</p>
        <ol>
            <li>/add - post JSON example: {"x": 1, "y":3}</li>
            <li>/addmany - post JSON example: {"x": [1,2,3]}</li>
            <li>/subtract - post JSON example: {"x": 1, "y":3}</li>
            <li>/multiply - post JSON example: {"x": 1, "y":3}</li>
            <li>/divide - post JSON example: {"x": 1, "y":3}</li>
            <li>/floor_division - post JSON example: {"x": 1, "y":3}</li>
            <li>/remainder - post JSON example: {"x": 1, "y":3}</li>
            <li>/nroot - post JSON example: {"x": 1, "y":3}</li>
            <li>/power - post JSON example: {"x": 1, "y":3}</li>
        </ol>
    </body>
</html>